.text-accordion{
    border-radius: 15px;
    font-size: 25px; 
    color: white;
  
} 
.About-contenant{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color:#FF6060;
}

.about-mvt{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}
.accordion-content{
    color: #FF6060;
}