.carrousel-container {
    display: flex;
    flex-direction: row;
    margin: 50px; 
    
}
.carrousel-left{
    display: flex;
    position: absolute;
    top: 350px;
    left: 60px;
}

.carrousel-right{
    display: flex;
    position: absolute;
    top: 350px;
    right: 40px;
    
}

.carrousel-img img{
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 20px;
}

.number{
    display: flex;
    position: absolute;
    top: 550px;
    left: 650px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
